# Virtual environment
venv/
.venv/


proxy_manager/
pics/


# Logs
logs/
log/
*.log
*.json
*.csv
*.png
*.txt
*.md


app.py
main.py
passhub.py
main_code/
single_one.py
files/
# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
