# Virtual environment
venv/
.venv/


proxy_manager/
pics/
components/
files/
logs/
GUI/
pics/
proxy_manager/
violationd_bot_old/

# Logs
logs/
log/
*.log
sharing_config.json
family_cinema_config.json
proxies.json
*.csv
*.png
*.txt
*.md


main.py
passhub.py
main_code/
single_one.py
files/
# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
